body{
    background-color: #22232f;
    color:white;
}
.Container{
   display: flex;
   width:100vw;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   height:100vh;
   margin: 0 auto;
}
.button-container{
    margin: 0px 0 0 80px;
}
.Container button{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 13px;
    border-radius: 10px;
    background-color: #c61066;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    transition:ease 1.4s;
}
.Container button img{
    height:50px;
    margin: 0 10px 0 0;
   border-radius: 100%;
}


.Container button:hover{
    box-shadow: 0px 0px 3px 4px white;
}

.Container img{
    height:120px;
}
@media(max-width:700px){
    .button-container{
        margin: 0px;
    }
}